body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* * {
    border: 1px solid red;
} */
.main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-link,
.header-logo {
    padding: 0 10vw;
}

.header-logo {
    width: 150px;
    height: auto;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* HERO */
.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 5vw;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text,
a:link,
a:active,
a:visited,
a:hover {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-image img,
.hero-text {
    width: 600px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 14px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-color: #f9faf8;
}

/* FIRST CONTENT */
.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 50px 0 100px 0;
}

.content-image-container {
    display: flex;
    gap: 5vw;
}

.content-image {
    width: 200px;
}

.border-sample {
    border: 2px solid green;
    width: 200px;
    height: 200px;
}

/* SECOND CONTENT */
.content-two {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 130px 0;
}

.content-quote {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

/* THIRD CONTENT */
.content-three {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.three-container {
    background-color: #3882f6;
    padding: 40px 60px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    gap: 5vw;
    color: #f9faf8;
    align-items: center;
}

.three-text h3,
.three-text p {
    margin: 5px;
    padding: 0;
}

.content-three button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    padding: 30px 0;
    color: #f9faf8;
    text-align: center;
    font-size: 16px;
}