body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 0 8px;
}

.logo {
    width: auto;
    height: 80px;
    margin: 8px 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 24px;
}