body {
    background-color: #eeeeee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 0 8px;
}

.logo {
    width: auto;
    height: 80px;
    margin: 8px 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    gap: 100px;
}

.header-image {
    height: 200px;
    width: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content div {
    display: flex;
    flex-shrink: 1;
}

.content-img {
    width: 100px;
    height: 100px;
}